<div class="image-splash contact-splash">
  <h1>
    Get in touch <br />with us.<br />
    <a href="/contact#contact-form" class="btn btn-primary btn-outline btn-lg">Contact Us</a>
  <h1>
</div>

<%= render 'form', contact: @contact %>

<!-- <%= link_to 'Back', contacts_path %> -->
